.contact-details {
    position: absolute;
    right: 0;
    left: 0;
}
.container.contact-details{
    padding: 20px;
    background-color: white;
    border-radius: 50px;
}
.contact-details__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
}
.areas__grid{
    display: flex;
    gap: 20px;
}

.areas__grid p{
    font-weight: 500;
    display: flex;
    gap: 3px;
}

.contact-details__btn a{
    background-color: rgb(56, 55, 55);
    color: white;
    padding: 13px 40px;
    border-radius: 50px;
}